@charset "utf-8";

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
    
    font-size: 100%;
    font-family:Arial,Helvetica,Sans-serif;
}

img {
	width: 100%;
    display: block;
    margin:.5rem .5rem;
    border-radius:.25rem;
}

.logo {
    height:4.5rem;
    width:auto;
    background-color:white;
    padding:.5rem 5%;
}

h1 {
    font-size:2.75rem;
    color: brown;
    font-family:Georgia, Times, Serif;
    margin:5rem 0rem;
    background-color:white;
    font-weight:normal;
    letter-spacing:normal;
    padding:.5rem 5%; 
}

p {
    margin:.75rem .5rem;
}

p span {
    font-size:1.15rem;
    color:maroon;
}

.billboard {
    overflow:hidden;
    background-image:url(../images/foxbillboard.jpg);
    background-color:grey; 
    background-position:center left;
    background-repeat:no-repeat;
    background-size:30rem;
    box-shadow:.2rem .2rem .2rem .2rem grey;
    border:solid .25rem white;
    border-radius:.25rem;
}

.capital:first-letter {
    font-size:4.5rem;
    font-weight:bold;
    color: brown;
    float:left;
    margin:-.75rem 0rem;
    font-family:serif;
}

h2 {
    font-size:1.5rem;
    color:brown;
    font-family:Georgia, Times, Serif;
    border-top:double .20rem;
    line-height:1.75rem;
    padding: .5rem .5rem ;
}    

.footerlogo {
    height:3rem;
    width:auto;
    background-color:white;
    padding:.5rem 5%;
    margin:0 0;
}

footer {
    overflow:hidden;
    padding:.5rem;
    background-color:white;
    
}

footer a {
    color:black;
    font-weight:200;
}